body {
    background: #eaeded;
}
.logo {
    color: #ff9900;
    font-size: 28px;
    font-weight: bold;
}

/* ===== CONTACT SECTION ===== */
.contact-section {
    max-width: 500px;
    background: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-section h1 {
    margin-bottom: 10px;
}

.contact-section p {
    margin-bottom: 20px;
    color: #555;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #ff9900;
}

/* BUTTON*/
.contact-form button {
    width: 100%;
    padding: 12px;
    background: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #e2b33c;
}
