body {
    background: #eaeded;
}
/* CATEGORIES SECTION */
.categories {
    padding: 30px;
}
.categories h1 {
    margin-bottom: 20px;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category-box {
    background: white;
    padding: 15px;
    border-radius: 4px;
    transition: transform 0.3s;
}
.Product{
    height: 300px;
}
.category-box:hover {
    transform: scale(1.03);
}

.category-box h3 {
    margin-bottom: 10px;
}

.category-box img {
    width: 100%;
    margin-bottom: 10px;
}

.category-box p {
    color: #007185;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background: #131921;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
